<p><strong>Place of Work:</strong> Dell Panama - Arraijan EUS</p>
<p><strong>Role: </strong> Client Technical Support Associate for <a href="https://www.antheminc.com/">Anthem</a> formely known as Wellpoint</p>
<p><strong>Time Worked: </strong> December 2012 - March 2013</p>
<p><strong>Key Functions: </strong></p>
<ul>
    <li>Password resets, account activation through Active Directory.</li>
    <li>Basic tech support.</li>
    <li>Remote desktop support, and general help desk tasks</li>
    <li>Registering and following up on service requests, and channeling issues to their correct destination, for elevation or further follow up.</li>
</ul>
