<p><strong>Place of Work:</strong> <a href="#cv">See CV for updates!</a></p>
<p><strong>Role: </strong> Drupal 7 Developer</p>
<p><strong>Time Worked: </strong>  December 2016 - August 2017</p>
<p><strong>Key Functions: </strong></p>
<ul>
    <li>Theming and styling drupal twigs and template files to match design provided by the designs crew.</li>
    <li>testing responsiveness of modules, features and new pages in Drupal 7.</li>
    <li>Custom module creation, administration, maintenance and general development process.</li>
    <li>Feature creation for easier maintenance and deployment</li>
</ul>
