<p><strong>Place of Work:</strong> IFARHU - Instituto para la Formación y Aprovechamiento de Recursos Humanos</p>
<p><strong>Role: </strong>Software Developer</p>
<p><strong>Time Worked: </strong> June 2015 - Present</p>
<p><strong>Key Functions: </strong></p>
<ul>
    <li>Developing both intra-institutional and publicly accessed software based mostly on laravel 4.2, 5.2 and ASP .Net MVC5 frameworks.</li>
    <li>Managing, developing, and implementing new resources or modules for the <a href="https://www.ifarhu.gob.pa/" target="_blank">governmental wordpress-based website.</a></li>
    <li>Solving concerns or issues via <a href="http://osticket.com/" target="_blank">OsTicket</a> from various departments.</li>
    <li>Maintaining, developing, deploying and debugging official scholarship <a href="https://www.ifarhu.gob.pa/becas/programas-de-becas/programas-que-ofrece-el-ifarhu/" target="_blank">Concurso General</a> platform on a year round basis.</li>
    <li>Performing simple database tasks regarding the scholarships platform.</li>
</ul>
