<p><strong>Place of Work:</strong> Star Contact EGS - UPS</p>
<p><strong>Role: </strong> Customer Service Representative </p>
<p><strong>Time Worked: </strong> October 2014 - February 2015</p>
<p><strong>Key Functions: </strong></p>
<ul>
    <li>Customer service rep for the 1-800-PICKUPS Hotline, for US domestic customers</li>
    <li>Scheduling pick-ups for both shippers, and sometimes for customers who were seeking to return a packages</li>
    <li>Helping clients locate facilities for dropping off packages</li>
    <li>General customer service revolving shipping, packaging and pickups</li>
</ul>
