 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p></p>
                </div>
                <div class="col-lg-12">
                    <p></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-linkedin"></i> Get to know more about me
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    {% include we/ifarhu.html %}
                    <hr>
                    {% include we/star-contact-egs.html %}
                    <hr>
                    {% include we/dell-eus-wellpoint.html %}

                </div>
            </div>
        </div>
    </section>